<h5 class="byline">
	<span class="by-author">
		<span class="by">By:</span> 
		<span class="author vcard" itemprop="author">
			<a href="{{ post.author.path }}" title="Posts by {{ post.author.name }}" class="url fn" rel="author">{{ post.author.name }}</a>
		</span>
	</span>
	<span class="sep"> | </span>
	<time class="entry-date updated dtstamp pubdate" datetime="{{ post.post_date }}">{{ post.display_date }}</time>
</h5>
