{% extends "includes/tease.twig" %}
{% block content %}
	<h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
	{% include "includes/byline.twig" %}
	
	{% if post.thumbnail and post.post_excerpt %}
	<div class="excerpt">
		<img src="{{ post.thumbnail|resize(160, 160, 'default') }}" alt="{{ post.thumbnail.alt }}" class="alignleft">
		{{ post.get_preview(50, false, 'Read&nbsp;More&nbsp;&rarr;', false) }}
	</div>
	
	{% else %}
	
	<div class="excerpt">
		{{ post.get_preview(50, false, 'Read&nbsp;More&nbsp;&rarr;', false)|apply_filters('the_content') }}
	</div>

	{% endif %}

{% endblock %}