{% extends "widgets/widget.twig" %}

{% block widget_body %}
<a class="subscribe" href="{{ feed_link }}"><i class="icon-rss"></i>Subscribe via RSS</a>

{% if twitter_link %}
<a href="{{ twitter_link }}" class="twitter-follow-button" data-width="100%" data-align="left" data-size="large">
	{{ function('twitter_url_to_username', twitter_link) }}
</a>
{% endif %}
{% if facebook_link %}
<div class="fb-like" data-href="{{ facebook_link }}" data-send="false" data-show-faces="false"></div>
{% endif %}
{% if linkedin_link %}
<a class="subscribe" href="{{ linkedin_link }}"><i class="icon-linkedin"></i>Find Us on LinkedIn</a>
{% endif %}

{% endblock %}