{% extends "base.twig" %}

{% block head %}
{{ super() }}
<script>
    var SOUNDCLOUD_CLIENT_ID = "{{ function('get_option', 'soundcloud_client_id') }}"
      , GOOD_SCHOOLS_PLAYLIST_ID = "{{ function('get_option', 'goodschools_playlist_id') }}";
</script>
{% endblock %}

{% block header %}
<div class="container">
    {% include "agoodschoolis.twig" %}    
</div>
{% endblock %}

{% block posts %}
    {% if search_query %}
    <div class="search_query">
        <p class="alert alert-info">Search: "<strong>{{ search_query }}</strong>" found <strong>{{ posts|length|number_format }}</strong> posts</p>
    </div>
    {% endif %}
    
    {% for post in posts %}
        {% include ['includes/tease-'~post.post_type~'.twig', 'includes/tease.twig'] %}
    {% endfor %}

{% endblock %}

{% block pagination %}
<div class="paging">

    <ul class="pager">
        {% if pagination.prev %}
        <li class="previous"><a href="{{ pagination.prev.link }}">&larr; Newer</a></li>
        {% else %}
        <li class="previous disabled"><a>&larr; Newer</a></li>
        {% endif %}
        
        {% if pagination.next %}
        <li class="next"><a href="{{ pagination.next.link }}">Older &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a>Older &rarr;</a></li>
        {% endif %}

    </ul>

</div>

{% endblock %}