{% extends "base.twig" %}

{% block header %}
<div class="container">
	<div class="row">
		<h1 class="col-md-12">{{ post.title }}</h1>
	</div>
</div>
{% endblock %}

{% block posts %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	<section class="article-content">
		<header>
			<h1 class="entry-title hidden" itemprop="headline">{{ post.title }}</h1>
		</header>

		<div class="article-body">
			{{ post.content }}
		</div>
	</section>

	<section class="comments">
		{{ function('comments_template') }}
	</section>

</article>

{% endblock %}